* {
  margin: 0;
  padding: 0; }

/* ETIQUETAS GENERALES */
.header__titulo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: brown;
  padding: 2rem;
  margin: 1rem;
  height: 12vh;
  background-image: url("../recursos/sheet-music.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .header__titulo __navegacion {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align-last: center;
    background-color: rgba(104, 65, 34, 0.664);
    padding: 10px; }

.ul__navegacion {
  display: flex;
  justify-content: center; }

li {
  display: inline;
  margin: 10px; }
  li a {
    text-decoration: none;
    color: #a06161; }

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
  border: 1px;
  border-color: #7c5a1b;
  border-style: dashed;
  text-align: center; }

/* FIN ETIQUETAS GENERALES */
/*COMIENZO DE MENU PRINCIPAL*/
.body__menuPrincipal {
  background-color: rgba(102, 75, 45, 0.712); }
  .body__menuPrincipal .header__index {
    display: flex;
    flex-direction: column; }
  .body__menuPrincipal .grid__menuPrincipal {
    display: grid;
    grid-template-areas: "uno dos cuatro" "uno dos cuatro" "uno tres cuatro" "uno tres cuatro"; }
  .body__menuPrincipal .gridMuno {
    grid-area: uno; }
  .body__menuPrincipal .gridMdos {
    grid-area: dos; }
  .body__menuPrincipal .gridMtres {
    grid-area: tres; }
  .body__menuPrincipal .gridMcuatro {
    grid-area: cuatro; }
  .body__menuPrincipal .menuPrincipal__texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-image: linear-gradient(to bottom, #942a2a, #491a19);
    padding: 1rem;
    margin: 1rem;
    border: 5px solid #836d45;
    border-style: double;
    text-align: center;
    align-items: center; }
  .body__menuPrincipal .menuPrincipal__imagen {
    display: flex;
    justify-content: center;
    padding: 2rem; }
  .body__menuPrincipal .menuPrincipal .derecha {
    justify-content: center; }
  .body__menuPrincipal .menuPrincipal__iframe {
    display: flex;
    justify-content: center;
    margin: 0px; }
  .body__menuPrincipal .index__paddingfooter {
    padding: 0px; }

/*COMIENZO DE SOBRE NOSOTRXS*/
.body__sobreNos {
  background-color: #ce9b93; }
  .body__sobreNos .header__sobreNos {
    display: flex;
    flex-direction: column; }
  .body__sobreNos .bg-pink {
    background-color: #c28460; }
  .body__sobreNos .gridSobreNos {
    display: grid;
    grid-template-areas: "uno uno uno cuatro" "dos dos cinco cinco" "tres tres cinco cinco"; }
  .body__sobreNos .gridSuno {
    grid-area: uno; }
  .body__sobreNos .gridSdos {
    grid-area: dos; }
  .body__sobreNos .gridStres {
    grid-area: tres; }
  .body__sobreNos .gridScuatro {
    grid-area: cuatro; }
  .body__sobreNos .gridScinco {
    grid-area: cinco; }
  .body__sobreNos .explicacion1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: bisque;
    /*background-color: rgb(194, 113, 81);*/
    background-image: linear-gradient(to right, #bb7149, #b48062);
    margin: 3rem;
    padding: 1rem;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px; }
  .body__sobreNos .img__piano {
    height: 400px;
    width: 600px; }
  .body__sobreNos .sobreNos__imagen {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 1rem; }
  .body__sobreNos .explicacion2 {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: #45635f;
    margin: 2rem;
    padding: 1rem;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px; }
  .body__sobreNos .explicacion3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #24211d;
    /*background-color: rgb(187, 113, 73);*/
    background-image: linear-gradient(to bottom, #a86743, #b4826b, #722f2e);
    margin: 1rem;
    padding: 1rem;
    border-bottom-right-radius: 25px; }
  .body__sobreNos h3 {
    display: flex;
    justify-content: center;
    background-color: bisque; }

/*COMIENZO DE PARTITURAS*/
.body__partituras {
  background-color: rgba(102, 75, 45, 0.712);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  .body__partituras .header__partituras {
    display: flex;
    flex-direction: column; }
  .body__partituras .main__Partituras {
    display: flex; }
  .body__partituras .main__elegirPartituras {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: bisque;*/
    margin: 20px;
    padding: 30px;
    border-color: #531010;
    border-style: groove;
    background-image: linear-gradient(to right, rgba(165, 101, 67, 0.678), #bb8d72); }
  .body__partituras .main__partiturasLorem {
    display: flex;
    background-color: #0f5757;
    color: azure;
    margin: 20px;
    padding: 10px;
    border-color: #171053;
    border-style: groove;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px; }
  .body__partituras .main__nuevaPartitura {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: rgb(139, 209, 186);*/
    margin: 10px;
    padding: 5px;
    border-color: #417983;
    border-style: groove;
    background-image: linear-gradient(to right, #3c46a3, #6293b4); }
  .body__partituras .bg-babyblue {
    background-color: #417983; }
  .body__partituras .gridPartituras {
    display: grid;
    grid-template-areas: "uno uno cuatro cuatro"  "dos dos cuatro cuatro" "tres tres cuatro cuatro"; }
  .body__partituras .gridPuno {
    grid-area: uno; }
  .body__partituras .gridPdos {
    grid-area: dos; }
  .body__partituras .gridPtres {
    grid-area: tres; }
  .body__partituras .gridPcuatro {
    grid-area: cuatro; }
  .body__partituras .imagen__partituras {
    display: flex;
    padding: 10px;
    height: auto;
    width: 300px; }
    .body__partituras .imagen__partituras:hover {
      transform: rotate(2deg) translate(16px, 0px); }

/*COMIENZO DE OBRAS*/
.body__obras {
  background-color: black; }
  .body__obras .header__obras {
    display: flex;
    flex-direction: column; }
  .body__obras .bg-purple {
    background-color: #2b2b7c; }
  .body__obras .link__nav {
    color: white; }
  .body__obras .main__Obras {
    display: flex;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif; }
  .body__obras .main__ObrasVideos {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 1rem;
    padding: 10px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-image: linear-gradient(to top, #4d2b19, #96684e); }
  .body__obras .gridObras {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr;
    grid-template-areas: "uno uno seis" "tres tres seis" "cuatro cinco dos"; }
  .body__obras .gridObrasuno {
    grid-area: uno; }
  .body__obras .gridObrasdos {
    grid-area: dos; }
  .body__obras .gridObrastres {
    grid-area: tres; }
  .body__obras .gridObrascuatro {
    grid-area: cuatro; }
  .body__obras .gridObrascinco {
    grid-area: cinco; }
  .body__obras .gridObrasseis {
    grid-area: seis; }
  .body__obras .explicacionObras {
    display: flex;
    margin: 10px;
    padding: 20px;
    background-color: beige;
    border-color: #c78d6d;
    border-style: inset;
    border-width: 5px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-image: linear-gradient(to right, #c07a54, #b48062); }
  .body__obras .imagen__Obras {
    display: flex;
    margin: 10px;
    padding: 10px; }
  .body__obras .subirVideo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    height: 25vh;
    border-style: dashed;
    color: white;
    background-color: #2b2b7c; }
    .body__obras .subirVideo:hover {
      transform: scale(1.5); }
  .body__obras .footer__obras {
    color: white; }

/*COMIENZO DE CONTACTO*/
.body__contacto {
  background-color: rgba(102, 75, 45, 0.712); }
  .body__contacto .header__contacto {
    display: flex;
    flex-direction: column; }
  .body__contacto .flex__contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif; }
  .body__contacto .gridContacto {
    display: grid;
    grid-template-areas: "uno uno tres tres" "dos dos tres tres" "dos dos tres tres"; }
  .body__contacto .gridCuno {
    grid-area: uno; }
  .body__contacto .gridCdos {
    grid-area: dos; }
  .body__contacto .gridCtres {
    grid-area: tres; }
  .body__contacto .Form {
    background-color: #082c52;
    color: white;
    border-style: double;
    border-color: #4c7979;
    margin: 1rem;
    padding: 1rem;
    border-top-left-radius: 25px;
    background-image: linear-gradient(to right, #082c52, #4c7979); }
  .body__contacto .Comentarios {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #082c44;
    margin: 1rem;
    padding: 1rem;
    border-bottom-right-radius: 25px;
    background-image: linear-gradient(to top, #082c52, #4c7979); }
  .body__contacto h2 {
    display: flex;
    justify-content: center;
    color: wheat;
    background-color: #6b2e2e; }
  .body__contacto iframe {
    margin: 2rem;
    padding: 1rem; }

/* MEDIA QUERIES */
/* cambios estructurales */
/* TABLETS */
@media (min-width: 541px) and (max-width: 720px) {
  .grid__menuPrincipal {
    display: grid;
    grid-template-areas: "uno uno" "dos dos" "tres tres" "cuatro cuatro"; }
  .gridSobreNos {
    display: grid;
    grid-template-areas: "uno uno" "dos dos" "tres tres" "cuatro cuatro" "cinco cinco"; }
  .gridPartituras {
    display: grid;
    grid-template-areas: "uno uno" "dos dos" "tres tres" "cuatro cuatro"; }
  .gridObras {
    display: grid;
    grid-template-areas: "uno uno" "dos dos" "tres tres" "cuatro cuatro" "cinco cinco" "seis seis"; }
  .gridContacto {
    display: grid;
    grid-template-areas: "uno uno" "dos dos" "tres tres"; }
  .subirVideo {
    height: 10vh;
    width: 70vw;
    padding: 1rem;
    margin: 1rem; } }

/* CELULARES */
@media (min-width: 320px) and (max-width: 540px) {
  .header__titulo {
    padding: 1rem;
    margin: 1rem;
    height: 10vh; }
  .header__navegacion {
    text-align-last: center;
    padding: 1rem; }
  li {
    margin: 1rem; }
  footer {
    margin: 1rem;
    padding: 1rem; }
  /* FIN DE ETIQUETAS GENERALES*/
  /* MENU PRINCIPAL */
  .grid__menuPrincipal {
    display: grid;
    grid-template-areas: "uno" "dos" "tres" "cuatro"; }
  .menuPrincipal__texto {
    padding: 1rem;
    margin: 1rem; }
  .menuPrincipal__imagen {
    padding: 2rem; }
  /* SOBRE NOS */
  .gridSobreNos {
    display: grid;
    grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco"; }
  .explicacion1 {
    margin: 1rem;
    padding: 1rem; }
  .sobreNos__imagen {
    padding: 1rem;
    margin: 1rem; }
  .explicacion2 {
    margin: 2rem;
    padding: 1rem; }
  .explicacion3 {
    margin: 1rem;
    padding: 1rem; }
  /* PARTITURAS */
  .gridPartituras {
    display: grid;
    grid-template-areas: "uno" "dos" "tres" "cuatro"; }
  .main__elegirPartituras {
    margin: 2rem;
    padding: 3rem;
    width: 60vw; }
  .main__partiturasLorem {
    margin: 2rem;
    padding: 1rem;
    width: 60vw; }
  .main__nuevaPartitura {
    margin: 1rem;
    padding: 1rem;
    width: 80vw; }
  .imagen__partituras {
    margin: 2rem;
    width: 70vw; }
  /* OBRAS */
  .gridObras {
    display: grid;
    grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco" "seis"; }
  .explicacionObras {
    margin: 1rem;
    padding: 2rem; }
  .imagen__Obras {
    margin: 1rem;
    padding: 1rem; }
  .subirVideo {
    margin: 3rem;
    padding: 1rem; }
  .main__ObrasVideos {
    margin: 1rem;
    padding: 1rem; }
  /* CONTACTO */
  .gridContacto {
    display: grid;
    grid-template-areas: "uno" "dos" "tres"; }
  .Form {
    margin: 2rem;
    padding: 1rem; }
  .Comentarios {
    margin: 2rem;
    padding: 1rem; } }
