.navbar {
  padding-bottom: 3rem; }
  .navbar-collapse {
    flex-grow: unset;
    color: white; }
  .navbar .nav-item:hover {
    background-color: #141414; }

footer {
  color: white; }
  footer .logos {
    width: 2vw; }
  footer ul li a::before {
    content: " | "; }

/* TABLETS */
@media (min-width: 541px) and (max-width: 720px) {
  .row {
    display: block;
    --bs-gutter-x: 0; }
  main .body__sobreNos, main .explicacion {
    margin: 1rem;
    width: auto; }
  main .body__sobreNos, main .carousel {
    width: auto; }
  main .body__sobreNos, main .partituras__cajas {
    margin: 1rem;
    width: auto; }
  main .body__partituras, main .partituras__form {
    margin-left: 0;
    margin-right: 0; } }

/* CELULARES */
@media (min-width: 320px) and (max-width: 540px) {
  main .body__sobreNos, main .row {
    display: block;
    --bs-gutter-x: 0; }
  main .body__sobreNos, main .explicacion {
    margin: 1rem;
    width: auto; }
  main .body__sobreNos, main .carousel {
    width: auto; }
  main .body__sobreNos, main .partituras__cajas {
    margin: 1rem;
    margin-left: 2rem;
    width: auto; }
  main .form-control {
    width: 100%; }
  footer .logos {
    width: 5vw; } }

* {
  margin: 0;
  padding: 0; }

.row {
  margin: 1rem;
  --bs-gutter-y: 1rem; }

.col {
  padding: 1rem; }

.contenido__fondo {
  background-color: rgba(152, 190, 185, 0.164); }

p {
  padding: 1rem;
  color: white; }

p::selection {
  background-color: #e6d1d1;
  color: #141414; }

h1 {
  color: white; }

h2 {
  color: white; }

h3 {
  color: white; }

.body__404 {
  background-image: linear-gradient(to right, #181a2b, #234e48);
  color: white; }

.body__menuPrincipal {
  background-image: linear-gradient(to right, #181a2b, #234e48);
  color: white; }

.body__sobreNos {
  background-image: linear-gradient(to left, #181a2b, #234e48); }
  .body__sobreNos .SobreNos__row {
    color: white;
    padding: 1rem;
    margin-top: calc(0 * var(--bs-gutter-y)); }
  .body__sobreNos .SobreNos__explicacion {
    background-color: rgba(152, 190, 185, 0.164);
    color: white;
    padding: 1rem; }
  .body__sobreNos .carousel {
    width: 100%;
    padding: 1rem; }

.body__partituras {
  background-image: linear-gradient(to left, #181a2b, #234e48, #181a2b); }
  .body__partituras .partituras__txt {
    margin-top: 1rem; }
  .body__partituras .partituras__form {
    margin-left: 10vw;
    margin-right: 10vw; }
  .body__partituras .partituras__cajas {
    color: white;
    border: 5px solid white;
    border-style: double;
    padding: 3rem; }

.body__obras {
  background-image: linear-gradient(to right, #181a2b, #234e48); }
  .body__obras .row {
    --bs-gutter-y: 0; }
  .body__obras .obras__fondo2 {
    background-color: rgba(126, 105, 99, 0.397); }
  .body__obras .obras__videos {
    padding: 1rem;
    border: 0.25rem rgba(151, 152, 153, 0.459);
    border-style: double; }

.body__contacto {
  background-image: radial-gradient(circle, #234e48 0%, #181a2b 100%); }
  .body__contacto .contacto__form {
    color: white;
    margin-left: 10vw;
    margin-right: 10vw; }
  .body__contacto .contacto__h3 {
    color: white;
    padding: 1rem;
    width: auto;
    height: auto; }

.partituras__cajas {
  color: #09364b;
  border: 5px rgba(119, 70, 70, 0.712);
  border-style: dotted; }

.obras__videos {
  color: #132e27;
  border: 5px #926b73;
  border-style: groove; }
