$fondo-Inicio: linear-gradient(to right,rgb(24, 26, 43), rgb(35, 78, 72));
$fondo-SobreNos: linear-gradient(to left,rgb(24, 26, 43), rgb(35, 78, 72));
$fondo-Partituras: linear-gradient(to left, rgb(24, 26, 43), rgb(35, 78, 72), rgb(24, 26, 43));
$fondo-Obras: linear-gradient(to right,rgb(24, 26, 43), rgb(35, 78, 72));
$fondo-Contacto: radial-gradient(circle, rgb(35, 78, 72) 0%, rgb(24, 26, 43) 100%);

$fondo-cajas: rgba(152, 190, 185, 0.164);
$fondo-img-obras: white;

$color-letras: white;

$color-bordes-recuadros: solid white;
$tipo-bordes-recuadros: double;
$color-bordes-videos: rgba(151, 152, 153, 0.459);