@import 'variables';
@import 'navbar';
@import 'footer';
@import 'mediaqueries';



* {
    margin: 0;
    padding: 0;
}


.row {
    margin: 1rem;
    --bs-gutter-y: 1rem;
}

.col {
    padding: 1rem;
}

.contenido__fondo {
    background-color: $fondo-cajas;
}

p {
    padding: 1rem;
    color: $color-letras;
}

p::selection {
    background-color: rgb(230, 209, 209);
    color: #141414;
}

h1 {
    color: $color-h1;
}

h2 {
    color: $color-h2;
}

h3 {
    color: $color-h3;
}



.body {

    &__404 {
        background-image: $fondo-Inicio;
        color: $color-letras;
    }

    &__menuPrincipal {
        background-image: $fondo-Inicio;
        color: $color-letras;
    }

    &__sobreNos {
        background-image: $fondo-SobreNos;

        .SobreNos {
            &__row {
                color: $color-letras;
                padding: 1rem;
                margin-top: calc(0 * var(--bs-gutter-y));
            }

            &__explicacion {
                background-color: $fondo-cajas;
                color: $color-letras;
                padding: 1rem;
            }
        }

        .carousel {
            width: 100%;
            padding: 1rem;
        }
    }

    &__partituras {
        background-image: $fondo-Partituras;
    
        .partituras {
            &__txt {
                margin-top: 1rem;
            }

            &__form{
                margin-left: 10vw;
                margin-right: 10vw;
            }

            &__cajas {
                color: $color-letras;
                border: 5px $color-bordes-recuadros;
                border-style: $tipo-bordes-recuadros;
        
                padding: 3rem;
            }
        }
        
    }

    &__obras {
        background-image: $fondo-Obras;

        .row {
            --bs-gutter-y: 0;
        }

        .obras {
            &__fondo2 {
                background-color: $fondo-img-obras;
            }
            

            &__videos {
                padding: 1rem;
                border: 0.25rem $color-bordes-videos;
                border-style: $tipo-bordes-recuadros;
            }
        }
    }

    &__contacto {
        background-image: $fondo-Contacto;
    
        .contacto {
            &__form {
                color: $color-letras;
                margin-left: 10vw;
                margin-right: 10vw;
            }
        
            &__h3 {
                color: $color-letras;
                padding: 1rem;
                width: auto;
                height: auto;
            }
        }
    }
}


@mixin mixCajas ($color, $color-bordes, $tipo-bordes) {
    color: $color;
    border: 5px $color-bordes;
    border-style: $tipo-bordes;
}

.partituras__cajas {
	@include mixCajas(rgb(9, 54, 75), rgba(119, 70, 70, 0.712), dotted);
}

.obras__videos {
	@include mixCajas(rgb(19, 46, 39), rgb(146, 107, 115), groove);
}

