@import 'variables';
@import 'navbar';
@import 'footer';
@import 'mediaqueries';



* {
    margin: 0;
    padding: 0;
}



.col {
    padding: 1rem;
    margin-bottom: 2rem;
}

.fondo1 {
    background-color: $fondo-cajas;
}

p {
    padding: 1rem;
    color: $color-letras;
}

p::selection {
    background-color: rgb(230, 209, 209);
    color: #141414;
}

h1 {
    color: $color-h1;
}

h2 {
    color: $color-h2;
}

h3 {
    color: $color-h3;
}



.body {

    &__menuPrincipal {
        background-image: $fondo-Inicio;
        color: $color-letras;

        .col__inicio {
            margin-bottom: 0;
        }
    }

    &__sobreNos {
        background-image: $fondo-SobreNos;

        .SobreNos {
            &__row {
                color: $color-letras;
                padding: 1rem;
                margin-top: calc(0 * var(--bs-gutter-y));
                width: 50vw;
            }

            &__col {
                margin-left: 2rem;
                margin-right: 3rem;
            }
        }

        .carousel {
            width: 100%;
            padding: 1rem;
        }

        .explicacion {
            background-color: $fondo-cajas;
            color: $color-letras;
            padding: 1rem;
            margin: 1rem;
        }
    }

    &__partituras {
        background-image: $fondo-Partituras;
    
        .partituras {
            &__txt {
                margin-top: 1rem;
            }

            &__cajas {
                color: $color-letras;
                border: 5px $color-bordes-recuadros;
                border-style: $tipo-bordes-recuadros;
        
                padding: 2rem;
                margin: 1rem;
            }
        }
        
    }

    &__obras {
        background-image: $fondo-Obras;
    
        .fondo2 {
            background-color: $fondo-img-obras;
        }

        .obras {
            &__txt {
                max-width: 60vw;
                margin: 1rem;
            }

            &__videos {
                max-width: 60vw;
                margin: 2rem;
                margin-left: 2rem;
                margin-right: 2rem;
                border: 0.25rem $color-bordes-videos;
                border-style: $tipo-bordes-recuadros;
            }
        }
    }

    &__contacto {
        background-image: $fondo-Contacto;
    
        .contacto {
            &__form {
                color: $color-letras;
                margin-left: 3rem;
                max-width: 40vw;
            }
        
            &__h3 {
                color: $color-letras;
                padding: 1rem;
                width: auto;
                height: auto;
            }
        }
    }
}


@mixin mixCajas ($color, $color-bordes, $tipo-bordes) {
    color: $color;
    border: 5px $color-bordes;
    border-style: $tipo-bordes;
}

.partituras__cajas {
	@include mixCajas(rgb(9, 54, 75), rgba(119, 70, 70, 0.712), dotted);
}

.obras__videos {
	@include mixCajas(rgb(19, 46, 39), rgb(146, 107, 115), groove);
}

